    <div class="row mt-50">
      {{#each eighteens as |round|}}
        {{card-detail round=round}}
      {{/each}}
    </div>
    
    <div class="row mt-50">
      {{#each nines as |round|}}
        {{card-detail round=round}}        
    {{/each}}
  </div>

    