<header class="header">
    <h1 class="logo"> {{#link-to 'home'}}<a href="">EmberStats</a>{{/link-to}}</h1>
    <ul class="main-nav db-link">
        {{#link-to 'rounds' tagName="li"}}<a href="" class="db-link">Dashboard</a>{{/link-to}}
    </ul>
</header> 

<div class="container main-content">
    {{outlet}}  
</div>
