<h3>{{title}}</h3>
<hr>

<div class="new-round-btn btn-block">
  <button class="btn btn-md">{{#link-to 'new-round'}}<a href="" style="color: white;">New Round</a>{{/link-to}}</button>
</div>  
<div class="row">
  {{#each model as |round|}}
    <div class="col-sm-2 panel panel-default custom-panel">
      <div class="panel-heading">{{round.courseName}}</div>
      <div class="panel-body">
          <p>{{dateformat round.datePlayed}}</p>
      </div>
    </div>
  {{/each}}
</div>
