<h3>{{title}}</h3>
<hr>
<div class="row">
  <div class="btn-block">
    <button class="btn new-round-btn">{{#link-to 'new-round'}}<a href="" style="color: white;">New Round</a>{{/link-to}}</button>
  </div> 
</div>
<div class="row"> 
  {{#each model as |round|}}
    {{card-overview round=round}}
  {{/each}}
</div>
